@media (min-width:1024px) {}


/* TABLATE BERSION  */
@media (min-width:767px) and (max-width:1023px) {
  .nav-link {
    font-weight: 300;
    font-size: 1vw;
  }

  .icons {
    gap: 5vw;
    font-weight: 300;
    font-size: 2vw;
  }

  .company {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }


  .img-right img {
    width: 85%;
  }

  .top-title p {

    line-height: 2.3vw;
  }


  .outer-box {
    width: 100%;
    height: 17vw;
  }

  .box-name {
    width: 100%;
    font-size: 1.9vw;
    line-height: normal;

  }

  .profile h3 {
    font-size: 2vw;
  }

  .left-work img,
  .right-work img {
    width: 90%;
  }

  .top-title-testimonials p {
    font-size: 2vw;
    line-height: normal;
  }

  .top-title-testimonials h3 {
    margin-left: 3vw;
  }
}

/* MOBILE VERSION */
@media (max-width:767px) {
  .ham-burger {
    display: block;
    margin-left: 3vw;
    font-weight: 500;

  }


  .nav-link {
    display: none;
  }

  .icons {
    font-size: 3vw;
  }

  .hero {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }

  .left-side h1 {
    font-size: 4vw;
    width: 90%;
    padding: 3vw 0;
  }

  .left-side p {
    font-size: 2vw;
    line-height: 3vw;
  }

  .btn {
    font-size: 3vw;
  }

  .right-side img {
    width: 70%;
    margin-left: 10vw;
  }

  .company {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-title {
    width: 100%;
  }

  .top-title h3 {
    font-size: 5vw;
    font-weight: 500;
  }

  .top-title p {
    line-height: 3.2vw;
    font-size: 3vw;

  }

  .left-side-content {
    width: 100%;

  }

  .side-title h3 {
    font-size: 4vw;
  }

  .side-title p {
    font-size: 3vw;
    line-height: 4vw;
  }

  .img-right img {
    width: 100%;
    height: auto;
  }

  .side-title {
    flex-wrap: wrap;
  }

  .case-study-1,
  .case-study-2,
  .case-study-3 {
    font-size: 3vw;
  }

  .top-badge-1,
  .top-badge-2,
  .top-badge-3 {
    font-size: 2vw;
  }

  .top-title-testimonials {
    width: 100%;
  }

  .top-title-testimonials h3 {
    font-size: 5vw;
    font-weight: 500;

  }

  .top-title-testimonials p {
    line-height: 4vw;
    font-size: 3vw;
  }

  .outer-box {
    width: 100%;
    height: auto;
  }

  .box-name {
    line-height: normal;
    font-size: 3vw;

  }

  .top-title-recent-works {
    width: 100%;

  }

  .top-title-recent-works h3 {
    font-size: 5vw;
    font-weight: 500;
  }

  .top-title-recent-works p {
    font-size: 3vw;
    line-height: 4vw;
  }

  .works {
    width: 100%;
    flex-wrap: wrap;

  }

  .left-work {
    margin-bottom: 3vw;
  }

  .left-work h4,
  .right-work h4 {
    font-size: 4vw;
  }

  .left-work p,
  .right-work p {
    font-size: 3vw;
  }

  .left-work img,
  .right-work img {
    width: 100%;
  }

  .input-box {
    width: 30vw;
    height: 5vw;
  }
}