* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

p {
  font-weight: 300;
}

/* This is a nav bar  */
.background {
  background-color: #080808;
  width: 100%;
  position: relative;

}

.ham-burger {
  color: white;
  font-weight: 500;
  display: none;
}

.ham-burger:hover {
  position: fixed;
  width: 30vw;
  left: 0;
  background-color: white;
}

.nab-bar {

  width: 80%;
  height: 5vw;
  background-color: #1B1B1B;
  margin: auto;
  border-bottom-right-radius: 2vw;
  border-bottom-left-radius: 2vw;

  display: flex;
  align-items: center;
  justify-content: space-around;

}

ul,
li {
  list-style: none;
  display: flex;
  align-items: center;

}

.nav-link {
  text-decoration: none;
  color: rgb(189, 188, 188);
  display: flex;
  font-size: 1.3vw;
  font-family: lato, sans-serif;
  margin-right: 4vw;
  transition: 0.15s ease-in;

}

.nav-link:hover {
  color: rgb(255, 248, 248);
}

.icons {
  color: rgb(189, 188, 188);
  font-size: 1.9vw;
  display: flex;
  align-items: center;
  gap: 1.2vw;
}

.fa-brands:hover {
  color: white;
  transition: 0.45s ease-in-out;
}

/* This is a home section  */
.hero {
  width: 100%;
  padding: 1vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}

.left-side {
  width: 40vw;
}

.left-side h1 {
  font-size: 3vw;
  font-family: lato, sans-serif;
  color: rgb(250, 250, 250);
}

.left-side P {
  margin-top: 2vw;
  line-height: 2.3vw;
  font-size: 1.4vw;
  font-weight: 300;
  color: white;
  font-family: lato, sans-serif;
}

.btn {
  background-color: green;
  padding: 1vw 5vw;
  border: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  font-family: lato, sans-serif;
  margin-top: 3vw;
  transition: 0.15s ease-in;
}

.btn:hover {
  background-color: rgb(17, 98, 17);
}



.right-side img {
  width: 70%;
  height: auto;
  margin-left: 8vw;
  border-radius: 50%;
}

/* Wrok section */
.work {
  padding: 1vw 10vw;

}

.work p {
  font-size: 1.5vw;
  color: white;
  font-family: lato, sans-serif;
  text-align: center;
  margin-bottom: 2vw;
}

.company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company img {
  cursor: pointer;
}

/* case section */
.case-section {
  width: 100%;
  padding: 5vw 10vw;
}

.top-title {
  width: 50%;
  margin: auto;

  text-align: center;
  color: rgb(0, 0, 0);
}

.top-badge-1 {
  background-color: #f9ddb5;
  color: #757717;
  border: none;
  font-size: 0.9vw;
  margin-bottom: 1vw;
  border-radius: 0.5vw;
  padding: 0.2vw 1vw;

}

.case-h3 {
  color: #000;
  margin-bottom: 3vw;
  font-size: 3vw;
  font-family: lato, sans-serif;
  font-weight: 500;
}

.top-title p {
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 1.5vw;
}

.side-title {

  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.left-side-content {
  width: 40%;

}

.side-title h3 {
  font-size: 2vw;
  font-family: lato, sans-serif;
}

.side-title p {
  font-family: lato, sans-serif;
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.4vw;
  margin-bottom: 2vw;
}

.case-study-1 {
  color: black;
  background-color: #FFA217;
  font-size: 1vw;
  border: none;
  padding: 0.9vw 5vw;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.case-study-1:hover {
  background-color: #f4ad43;
}

.img-right img {
  width: 100%;
  height: auto;
}

.top-badge-2 {
  background-color: #7096e396;
  color: #1310e1;
  border: none;
  font-size: 0.9vw;
  margin-bottom: 1vw;
  border-radius: 0.5vw;
  padding: 0.2vw 1vw;

}

.case-study-2 {
  color: rgb(252, 252, 252);
  background-color: #0d47e5;
  font-size: 1vw;
  border: none;
  padding: 0.9vw 5vw;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.case-study-2:hover {
  background-color: #3864de;
}

.top-badge-3 {
  background-color: #a4e9d9;
  color: #2AB090;
  border: none;
  font-size: 0.9vw;
  margin-bottom: 1vw;
  border-radius: 0.5vw;
  padding: 0.2vw 1vw;
}

.case-study-3 {
  color: rgb(252, 252, 252);
  background-color: #2AB090;
  font-size: 1vw;
  border: none;
  padding: 0.9vw 5vw;
  cursor: pointer;
  transition: 0.15s ease-in;
}

.case-study-3:hover {
  background-color: #09c297;
}



/* testimonials section */

.testimonials-section {
  padding: 3vw 8vw;
  width: 100%;
  margin: auto;
  background-color: #080808;
}

.top-title-testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: auto;
  text-align: center;
}

.top-title-testimonials h3 {

  color: aliceblue;
  font-size: 3vw;
  font-family: lato, sans-serif;
  font-weight: 500;
}

.top-title-testimonials p {
  margin-top: 3vw;
  color: white;
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 1.5vw;
}

.outer-box {
  border: solid 0.03vw rgba(255, 255, 255, 0.149);
  margin-top: 5vw;
  border-right-color: #080808;
  border-radius: 1vw;
  width: 25vw;
  height: 12vw;
  padding: 2vw;
  position: relative;
}

.dot-dot {
  color: white;
  font-size: 7vw;
  font-family: lato, sans-serif;
  position: absolute;
  top: -2.5vw;
  left: 1vw;
}

.box-name {
  color: white;
  text-align: center;
  font-family: lato, sans-serif;
  line-height: 1.2vw;
}

.profile {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-top: 2vw;
}

.profile h3 {
  color: white;
  font-family: lato, sans-serif;
  font-size: 2vw;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 10vw;
  flex-wrap: wrap;
}

/* RECENT WORK SECTION */

.top-title-recent-works {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 5vw 0vw;
}

.top-title-recent-works h3 {
  margin-bottom: 3vw;
  color: rgb(0, 0, 0);
  font-size: 3vw;
  font-family: lato, sans-serif;
  font-weight: 500;
}

.top-title-recent-works p {
  width: 70%;
  font-size: 1.2vw;
  color: rgb(0, 0, 0);
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 1.5vw;
}

.works {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 3vw 10vw;
}



.left-work h4,
.right-work h4 {
  font-size: 2vw;
  margin: 1vw;
  font-family: lato, sans-serif;
}

.left-work p,
.right-work p {
  width: 70%;
}

.btn {
  background-color: green;
  padding: 0.7vw 2vw;
  border: none;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  font-family: lato, sans-serif;
  margin-top: 3vw;
  transition: 0.15s ease-in;
}

.btn:hover {
  background-color: rgb(17, 98, 17);
}

/* GET IN TOUCH SECTION  */
.touch {
  background-color: #000;
}

.get-in-touch {

  padding: 5vw 10vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.top-title-touch h3 {
  margin-bottom: 3vw;

  color: rgb(255, 255, 255);
  font-size: 3vw;
  font-family: lato, sans-serif;
  font-weight: 500;
}

.top-title-touch p {
  text-align: center;
  margin: auto;
  width: 70%;
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
  font-family: lato, sans-serif;
  font-weight: 300;
  line-height: 1.5vw;
}

.label-tab {
  font-size: 1.5vw;
  color: white;
  float: left;
  margin-bottom: 0.3vw;
  margin-top: 1vw;
  font-family: lato, sans-serif;
}

.input-box {
  font-family: lato, sans-serif;
  width: 30vw;
  font-size: 1vw;
  padding: 0.5vw 2vw;
  border: none;
  border-radius: 0.3vw;
}

.input-box-message {
  font-family: lato, sans-serif;
  width: 30vw;
  height: 10vw;
  font-size: 1vw;
  padding: 0.5vw 2vw;
}

/* FOOTER  */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 10vw;
  width: 100%;
  height: auto;
  background-color: gray;
}

footer h5 {
  font-size: 1.5vw;
  font-family: lato, sans-serif;
  position: relative;
  color: #ffffff;

}

.top-link {
  position: absolute;
  right: 10vw;
  text-decoration: none;
}

.top-link a {
  color: #FFA217;
  text-decoration: none;
  font-size: 1vw;
  font-family: lato, sans-serif;
}